/* Datos de la consola */
.consola {
    width: 450px;
    height: 600px;
    background-color: blue;
    margin: auto;
    font-size: 22px;
    border-radius: 0% 0% 10%;
    border: 2px solid;
}

/* Diseño de los botones */
button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    background-color: gray;
    border: 2px solid white;
}

/* poner texto centrado */
.texto {
    font-family: "Press Start 2P";
    text-align: center;
    font-size: 13px;
    color: greenyellow;
}

/* bordes de la pantalla */
.fondo {
    margin-left: 50px;
    width: 370px;
    height: 250px;
    background-color: black;
    border-radius: 0% 0% 10%;
}

/* iframe */
.mapa {
    margin: 20px 0px 0px 20px;
    position: absolute;
}

/* Función que hace que los botones  */

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}

button:hover {
    background: #091D6E;
}

/* ordenar todos los contenidos de los botones */
.botones {
    display: flex;
    text-align: center;
}

/* elementos de las flechitas */
.izq {
    display: flex;
}

/* girar y poner contenido como toca */
.flecha1,
.flecha2,
.flecha3,
.flecha4 {
    transform: rotate(-45deg);
}

.rotar {
    transform: rotate(45deg);
}

/* Botones de utilidad */
.utilidad {
    width: 200px;
    margin: 180px 0px 0px 0px;
}


/* A y B */
.der {
    margin: 0px 30px 0px 0px;
}

.aSalto {
    margin: 20px;
}