* {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 22px;

}

.texto {
    position: relative;
    color: rgb(0, 255, 68);
    top: -40px;
}

.consola {
    background-color:darkslateblue ;
    width: 425px;
    height: 600px;
    border-radius: 0% 0% 10%;
    border: 2px solid;
}

.fondo {
    text-align: center;
    width: 340px;
    height: 215px;
    background-color: black;
    border: 6px solid;
    border-radius: 0% 0% 10%;
}

.fondoP {
    position: absolute;
    left: 60px;
}

button {
    border-radius: 50%;
    background-color: darkblue;
}

/* Función que hace que los botones  */
.grab {
    cursor: -webkit-grab;
    cursor: grab;
}

button:hover {
    background: #091D6E;
}

/* Pantalla */
.pantalla {
    padding: 45px;
}

/* posicionamiento y pintado de los botones */

.derecha {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 280px;
    top: 410px;
}

.A1,.B1,.F1,.F2,.F3,.F4,.start,.select {
    color: rgb(0, 255, 68);
    background-color: black;
}

/* botones de la izquierda */
.izquierda {
    position: absolute;
    width: 120px;
    height: 100px;
    top: 400px;
    left: 40px;
}

.utilidad {
    position: absolute;
    width: 300px;
    height: 40px;
    font-size: 10px;
    top: 560px;
    left: 70px;
}